input[type=text] {
    outline: none;
    border: none;
    color: aliceblue;
    background-color: var(--card);
    border-radius: 10px;
    padding: 6px;
    min-width: 250px;
    max-width: 600px;
    border-bottom: 1px solid var(--line);
}

button {
    outline: none;
    border: none;
    color: aliceblue;
    background-color: var(--card);
    border-radius: 10px;
    padding: 6px;
    min-width: 250px;
    max-width: 600px;
    border-bottom: 1px solid var(--line);
    transition: all 0.1s;
}

button:hover {
    border: none;
    background-color: var(--line);
    border-bottom: 1px solid var(--line);
}

button:active {
    border: none;
    background-color: var(--link);
    color: var(--bg);
    border-bottom: 1px solid var(--line);
}
