header, main, footer {
    gap: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

footer {
    margin-bottom: 2rem;
}

section {
    color: aliceblue;
    background-color: var(--card);
    border-radius: 16px;
    padding: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    min-width: 250px;
    max-width: 600px;
    border-bottom: 1px solid var(--line);
}

section .segment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-right: 1rem;
}

section .line {
    width: 1px;
    background-color: var(--line);
}

section .segment-end {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
}
