:root {
    --bg: #040505;
    --card: #171a1c;    
    --line: #676c70;

    --white: #cfcfcf;
    --red: #f04949;
    --orange: #ee9734;
    --green: #00ff9d;

    --txt1: #ebf7f2;
    --txt2: #78db9e;
    --txt3: #b9b9b9;
    --txt4: #bbe0cb;
    --link: #41d880;
}

* {
    scrollbar-color: #00ff9d #171a1c;
}

body {
    background-color: var(--bg);
    font-family: monospace;
    color: var(--txt1);
}

header, main, footer {
    gap: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

footer {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    margin: 0.5rem;
}

h2 {
    color: var(--txt2);
}

h3 {
    color: var(--txt3);
}

p {
    color: var(--txt4);
}

a {
    color: var(--link);
}

input[type=text] {
    outline: none;
    border: none;
    color: aliceblue;
    background-color: var(--card);
    border-radius: 10px;
    padding: 6px;
    min-width: 250px;
    max-width: 600px;
    border-bottom: 1px solid var(--line);
}

button {
    outline: none;
    border: none;
    color: aliceblue;
    background-color: var(--card);
    border-radius: 10px;
    padding: 6px;
    min-width: 250px;
    max-width: 600px;
    border-bottom: 1px solid var(--line);
    transition: all 0.1s;
}

button:hover {
    border: none;
    background-color: var(--line);
    border-bottom: 1px solid var(--line);
}

button:active {
    border: none;
    background-color: var(--link);
    color: var(--bg);
    border-bottom: 1px solid var(--line);
}

section {
    color: aliceblue;
    background-color: var(--card);
    border-radius: 16px;
    padding: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    min-width: 250px;
    max-width: 600px;
    border-bottom: 1px solid var(--line);
}

section .segment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-right: 1rem;
}

section .line {
    width: 1px;
    background-color: var(--line);
}

section .segment-end {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
}


.status-indicator {
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.status-indicator.online {
    background-color: var(--green);
}

.status-indicator.offline {
    background-color: var(--red);
}

.status-indicator.loading {
    background-color: var(--orange);
    animation: loading 1s ease-in-out infinite;
}

.status-indicator.error {
    background-color: transparent;
    border: 2px solid var(--white);
}

@keyframes loading {
    0% {
        transform: scale(1.1);
        opacity: 1;
    }
    70% {
        transform: scale(2);
        opacity: 0;
    }
    80% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes offline {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes online {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

span.servername {
    font-weight: 600;
}

.font-thick {
    font-weight: 800;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    backdrop-filter: blur(8px);
    transition: opacity 0.3s ease;
}

#popup-overlay.fade-out {
    opacity: 0;
}

.popup-box {
    background: var(--bg);
    padding: 16px;
    border-radius: 16px;
    max-width: 600px;
    text-align: center;
    border-bottom: 1px solid var(--line);
    box-shadow: 0 0 30px #ffffff10;
}

#popupCloseBtn {
    margin-top: 1rem;
    padding: 8px 14px;
    cursor: pointer;
}
