#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    backdrop-filter: blur(8px);
    transition: opacity 0.3s ease;
}

#popup-overlay.fade-out {
    opacity: 0;
}

.popup-box {
    background: var(--bg);
    padding: 16px;
    border-radius: 16px;
    max-width: 600px;
    text-align: center;
    border-bottom: 1px solid var(--line);
    box-shadow: 0 0 30px #ffffff10;
}

#popupCloseBtn {
    margin-top: 1rem;
    padding: 8px 14px;
    cursor: pointer;
}
